/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 400px;
}

ul {
  
  padding-left: 0;
}

li {
  text-align: center;
}

main{
  text-align: center;
  
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
